/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE GLOBAL */
body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

/* UTILIDADES */
.hidden {
  display: none !important;
}

/* MEDIA DEFAULT (evita bugs) */
img {
  max-width: 100%;
  display: block;
}

/* BOTONES RESET */
button {
  font: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

/* INPUTS RESET */
input,
select,
textarea {
  font: inherit;
  border: none;
  outline: none;
}

body.loading {
  overflow: hidden;
}

body.loading main,
body.loading nav,
body.loading header,
body.loading .cta-section,
body.loading #btn-carrito {
  visibility: hidden;
}

body.loading > *:not(#loader) {
  visibility: hidden;
}

body > * {
  transition: opacity 0.2s ease;
}

.carrito-panel,
.checkout,
.overlay {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.carrito-panel.active,
.checkout.active,
.overlay.active {
  opacity: 1;
  pointer-events: auto;
}
